<div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">


          <div class="card-group m-2 ">
              <div *ngFor= "let em of list">

                <div class="card shadow-sm bg-white rounded" style="width: 13rem;">
                  <img src="{{em.imageUrl}}" class=" img-thumbnail" alt="{{em.title}}">
                  <div class="card-body">
                    <h5 class="card-title">{{em.title}}</h5>

            <button class="btn btn-primary btn-sm btn-block" (click)="getMovieDetails(em.id)" (click) = "showTrailer(em.trailer)" > View More </button>

</div>

    </div>
  </div>
</div>

  </div>



    <div class="col-sm-6 d-inline-block">
      <div class="row">
          <div class="col-sm-4 pl-1">
        <div *ngFor= "let emi of movie$">
            <h5 >{{emi.title}}</h5>

                  <mat-card class="example-card">
                      <mat-card-header>

                        <mat-card-title> </mat-card-title>
                        <mat-card-subtitle>{{emi.year}}</mat-card-subtitle>
                      </mat-card-header>
                      <img mat-card-lg-image src="{{emi.imageUrl}}" alt="{{emi.title}}">
                      <mat-card-content>



                      </mat-card-content>
                  </mat-card>

</div>


      </div>
      <div class="col-lg-8 m-auto">
 <div class="movie" >


      <div [innerHTML]='iframe_html' class="movie"></div>
    </div>
  </div>

  </div>
</div>
</div>

