<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Movies Zone</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
     <li class="nav-item">  <a class="nav-link"  [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a> </li>
     <li class="nav-item"> <a class="nav-link"  [routerLink]="['/movies-detail/:id']" routerLinkActive="router-link-active" >Movies</a> </li>
     <li class="nav-item"> <a class="nav-link" [routerLink]="['/movies-create']" routerLinkActive="router-link-active" >Search</a> </li>
     <li class="nav-item dropdown">

            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/login']" routerLinkActive="router-link-active" >Login </a>
            </li>




      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" [routerLink]="['admin/movies-create']" routerLinkActive="router-link-active" >Add Movie</a>
        <a class="dropdown-item" [routerLink]="['admin/movies-edit']" routerLinkActive="router-link-active" >Edit Movie</a>
            <a class="dropdown-item"  (click)= logout()>Logout </a>


      </div>

    </ul>
    </div>
</nav>
